<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

    <name>No Glove No Love</name>

    <description>
        Glove Ordering
    </description>

    <author email="daniel@mysticstudios.com" href="http://mysticstudios.com/">
      Daniel Mellenthin
    </author>
	
	<access origin="mailto:*" launch-external="yes"/>
	
</widget>